<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/layout.css" type="text/css"/>
</head>
<body>
<div id="container">
    <div id="notifications">
        {%if notification%}
        {{notification}}
        {%endif%}
    </div>
    <div id="dom">
        <h1>Calculate MPG from last fuel up</h1>
        <div id="userform">
        <form method="post">
            <label>Enter your Registration</label>
            <input name="registration" type="text" required>
            <br>
            <label>Litres of fuel:</label>
            <input name="fuel_quantity" type="number">
            <br>
            <label>Miles Driven</label>
            <input name="miles_driven" type="number">
            <br>
            <input type="submit" value="calculate">
        </form>
        <br>
        <h2>Calculated MPG:</h2>
        <p>{{result['calculated_mpg']}}</p>
        </div>
        <br>
        <h2>Overall Average MPG:</h2>
        <div id="average_mpg">
            <p>{{result['average_mpg']}}</p>
        </div>
        <br>
        <h2>Historic Records</h2><br>
        <div id="history">
            <ol>
                {% for item in result['historic_mpg']%}
             <li>{{item['mileage']}}</li>
                {% endfor %}
            </ol>
        </div>
        </div>
</div>

</body>
</html>